* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(241, 255, 231);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.navBar {
  display: flex;
  justify-content: end;
  align-items: center;
  border-style: dotted;
  border-radius: 16px;
  background-color: #c5c3c6;
  padding: 30px 10%;
  height: 70px;
  width: 100%;
  font-family: 'Gloock', sans-serif;
}

.navList  {
  font-size: 20px;
  list-style-type: none;
  cursor: pointer;

}

.navList li a {
  font-weight: 400;
  font-size: 16px;
  color: #46494c;
  text-decoration: none;
  

}

.navList li  {
  display: inline-block;
  padding: 0 20px;
}

.navList li a {
  transition: all 0.3 ease 0s;
}

.navList li a:hover {
  color: #1985a1;

}

form {
  background-color: rgb(55, 150, 52);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}


label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

input {
  background-color: rgb(89, 131, 146);
  color: #fff;
  cursor: pointer;
}

input:hover {
  background-color: rgb(89, 131, 146);
}


.close  {
  margin: 10%;
  padding: 20%;
  border-radius: 50%;
}