
/* colors 
  forest green - rgb(55, 150, 52)
  pakistan green - rgb(10, 50, 0)
  honey dew - rgb(241, 255, 231)
  midnight green - rgb(18, 69, 89)
  airforce blue - rgb(89, 131, 146)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body  {
  background-color: rgb(10, 50, 0);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container  {
  display: flex;
  flex-direction: column;
  height: 850px;
  width: 80%;
  background-color: rgb(55, 150, 52);
  border-radius: 4%;
}

.navBar {
  border-style: double;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: none;
  background-color: #c5c3c6;
  padding: 30px 10%;
  height: 100px;
}

.navList  {
  list-style-type: none;

}