
/* colors 
  forest green - rgb(55, 150, 52)
  pakistan green - rgb(10, 50, 0)
  honey dew - rgb(241, 255, 231)
  midnight green - rgb(18, 69, 89)
  airforce blue - rgb(89, 131, 146)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body  {
  background-color: rgb(10, 50, 0);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container  {
  display: flex;
  flex-direction: column;
  height: 950px;
  width: 80%;
  background-color: rgb(55, 150, 52);
  border-radius: 16px;
  background-image: url('images/esaias-tan-6TXtIhu1k4A-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}



.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: dotted;
  border-radius: 16px;
  background-color: #c5c3c6;
  padding: 30px 10%;
  height: 70px;
  font-family: 'Gloock', sans-serif;
}

.navList  {
  list-style-type: none;
  cursor: pointer;

}

.navList li a {
  font-weight: 400;
  font-size: 16px;
  color: #46494c;
  text-decoration: none;
  

}

.navList li  {
  display: inline-block;
  padding: 0 20px;
}

.navList li a {
  transition: all 0.3 ease 0s;
}

.navList li a:hover {
  color: #1985a1;

}



.attentionGetter  {
  display: flex;
  margin: 50px;
  height: auto;
  justify-content: center;
  background-color: #c5c3c6;
  border-style: dotted;
  font-family: 'Vina Sans', sans-serif;
  font-size: 200px;

}

.description  {
  margin: 50px;
  background-color: #c5c3c6;
  padding: 40px;
  font-family: 'Gloock', sans-serif;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: 500;
}

.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.joinUsBtn  {
  display: flex;
  width: 15%;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
  margin-bottom: 30px;
}


.socialMediaBtns  {
  background-color: #c5c3c6; 
  border-style: dotted;
  width: 15%;
  height: 40px;
}

.socialMediaBtns  i {
  margin: 8px;
  size: 15px;
}